{% extends "index.html" %}
{% block content %}
<div class="container">
    <form action="/register" method="post">
        <h2>Registration Form</h2>
        <label for="first_name">First Name:</label>
        <input class="info" type="text" name="first_name" required>
        <label for="last_name">Last Name:</label>
        <input class="info" type="text"" name="last_name" required>
        <label for="email">Email:</label>
        <input class="info" type="email" name="email" required>
        <label for="password">Password:</label>
        <input class="info" type="password" name="password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input class="info" type="password"  name="confirm_password" required>
        {% with messages = get_flashed_messages(category_filter=['reg']) %}
            {% if messages %}
                <ul> {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <input class="button" type="submit" value="Submit">
    </form>

    <form action="/login" method="post">
        <h2>Login Form</h2>
        <label for="login_email">Email:</label>
        <input class="info" type="email" name="email" required>
        <label for="login_password">Password:</label>
        <input class="info" type="password" name="password" required>
        {% with messages = get_flashed_messages(category_filter=['login']) %}
        {% if messages %}
            <ul> {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <input class="button" type="submit" value="Login">
    </form>
</div>

{% endblock %}